@media (max-width: 767px) {

    //---------- HEADER ----------//
    .header {
        .navbar-custom {
            .wr-navbar {
                .navbar-header {
                    .navbar-toggle:hover {
                        .icon-bar {
                            background-color: $grey-body;
                        }
                        background-color: $green;
                        border: none;
                    }
                }
                .navbar-nav {
                   li {
                       padding: 0px;
                   }
                   .dropdown {
                       .dropdown-menu::before {
                        content: "";
                        position: absolute;
                        top: -34%;
                        left: 70%;
                        margin-left: -5px;
                        border-width: 15px;
                        border-style: solid;
                        border-color: transparent transparent transparent transparent;
                        }
                   }
               }
            }
            height: auto;
        }
    }

    //---------- OPENING ----------//
    .opening {
         h4 {
            font-size: 26px;
            padding: 75% 5%;
        }
        background-size: 1000px;
    }

    //---------- POST ----------//
    .post {
        .artikel {
            p {
                font-size: 14px;
            }
            .title {
                h1 {
                    font-size: 26px;
                }
            }
            .image {
                img {
                    height: 250px;
                }
                height: 250px;
            }
            .artikel-footer {
                .footer-left {
                    p {
                        line-height: 30px;
                    }
                }
                .footer-right {
                    p {
                        line-height: 30px;
                    }
                }
            }
        }
        padding: 0px 15px;
    }

    //---------- FEATURES ----------//
    .features {
        .wr-features {

            .features-left {
                .category {
                    .title {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
                .about {
                    .title {
                        h3 {
                            font-size: 20px;
                        }
                    }
                    margin-bottom: 30px;
                    border-bottom: 7px double $grey-body;
                }
                padding: 0px;
            }

            .features-mid {
                .popular-post {
                    .title {
                        h3 {
                            font-size: 20px;
                        }
                    }
                    .wr-popular {
                        .image {
                            height: 150px;
                        }
                        img {
                            height: 150px;  
                        }
                    }
                    padding: 0px;
                    border-right: none;
                    border-bottom: 7px double $grey-body;
                    margin-bottom: 30px;
                }
                .recent-post {
                    .title {
                        h3 {
                            font-size: 20px;
                        }
                    }
                    .wr-recent {
                        .image {
                            height: 150px;
                        }
                        img {
                            height: 150px;
                        }
                    }
                    padding: 0px;
                    border-bottom: 7px double $grey-body;
                    margin-bottom: 30px;
                }
                border: none;  
                padding: 0px;     
            }

            .features-right {
                .newsletter {
                    .title {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
                .tags {
                    .title {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
                padding: 0px;   
            }
            padding: 0px 15px;
        }
    }

    //---------- SINGLE-POST ----------//
    .single-post {
        //---------- POST ----------//
        .post {
            .artikel {
                p {
                    font-size: 14px !important;
                }
                .title {
                    h1 {
                        font-size: 26px !important;
                    }
                }
                .image {
                    img {
                        height: 250px !important;
                    }
                    height: 250px !important;
                }
                .artikel-footer {
                    p {
                        line-height: 30px !important;
                    }
                    .date {
                        p {
                            float: left !important;
                        }
                    }
                }
            }
            padding: 0px 15px;
        }

        //---------- FORM-COMMENT ----------//
        .form-comment {
            .wr-form-comment {
                .title {
                    h1 {
                        font-size: 26px !important;
                    }
                }
                .form {
                    table {
                        td {
                            input {
                                font-size: 14px !important;
                                padding: 10px !important;
                                height: 40px !important; 
                                width: 169px !important;
                            }
                        }
                    }
                    textarea {
                        padding: 10px !important;
                        font-size: 14px !important;
                    }
                    button {
                        p {
                            font-size: 14px !important;
                        }
                    }
                }
            }
            padding: 0px 15px;
        }

        //---------- COMMENT ----------//
        .comment {
            padding: 0px 15px;
        }
        .wr-comment {
             //----------HEADING-COMMENT----------//
             .heading-comment {
                 .navbar-header {
                     h1 {
                         font-size: 26px !important;
                     }
                     .badge {
                         font-size: 14px !important;
                     }
                 }
             }

             //----------COMMENTS-CONTAINER----------//
             .comments-container {
                 .comments-list .comment-box {
                     width: 267px !important;
                 }
                 .reply-list .comment-box {
                    width: 194px !important;
                 }
             }
        }
        padding-top: 130px !important;
    }
}