@media (min-width: 768px) and (max-width: 1023px) {

    //---------- HEADER ----------//
    .header {
       .navbar-custom {
           .wr-navbar {
               .navbar-header {
                   padding: 5px 0px;
               }
               .navbar-nav {
                   li {
                       padding: 15px 0px;
                   }
                   .dropdown {
                       .dropdown-menu {
                           top: 54px !important;
                       }
                   }
               }
               .navbar-right {
                   li {
                       padding-top: 0px;
                   }
               }
           }
            height: auto;
        }
    }

    //---------- OPENING ----------//
    .opening {
        h4 {
            font-size: 53px;
            padding: 35% 5%;
        }   
        background-size: 1157px;
        height: calc( 100vh - 254px);
    }

    //---------- POST ----------//
    .post {
        .artikel {
            p {
                font-size: 14px;
            }
            .title {
                h1 {
                    font-size: 32px;
                }
            }
            .image {
                img {
                    height: 400px;
                }
                height: 400px;
            }
        }
    }

    //---------- FEATURES ----------//
    .features {
        .wr-features {

            //---------- FEATURES-LEFT ----------//
            .features-left {
                .category {
                    .title {
                        h3 {
                            font-size: 22px;
                            margin-bottom: 15px;    
                        }
                    }
                    .list-category {
                        .list {
                            li {
                                line-height: 30px;
                            }
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                    padding-bottom: 15px;
                    margin-bottom: 30px;
                }

                .about {
                    .title {
                        h3 {
                            font-size: 22px;
                            margin-bottom: 15px;
                        }
                    }
                    .detail {
                        p {
                            margin-bottom: 20px;
                        }
                    }
                    .sosmed {
                        .nav {
                            li {
                                i {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    padding-bottom: 15px;
                }
            }

            //---------- FEATURES-MID ----------//
            .features-mid {
                .popular-post {
                    .title {
                        h3 {
                            font-size: 22px;
                        }
                    }
                    .wr-popular {
                        .image {
                            img {
                                height: 80px;
                            }
                            height: 80px;
                        }
                        a {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }

                .recent-post {
                    .title {
                        h3 {
                            font-size: 22px;
                        }
                    }
                    .wr-recent {
                        .image {
                            img {
                                height: 80px;
                            }
                            height: 80px;
                        }
                        a {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }

            //---------- FEATURES-RIGHT ----------//
            .features-right {
                .newsletter {
                    .title {
                        h3 {
                            font-size: 22px;
                            margin-bottom: 25px;
                        }
                    }
                    .input {
                        p {
                            font-size: 14px;
                        }
                    }
                }

                .tags {
                    .title {
                        h3 {
                            font-size: 22px;
                        }
                    }
                    .category {
                        .list {
                            li {
                                height: 40px;
                            }
                            a {
                                font-size: 14px;
                                height: 35px;
                            }
                        }
                    }
                }
            }
        }
    }

    //---------- SINGLE-POST ----------//
    .single-post {
        //---------- POST ----------//
        .post {
            .artikel {
                p {
                    font-size: 14px !important;
                }
                .title {
                    h1 {
                        font-size: 32px !important;
                    }
                }
                .image {
                    img {
                        height: 400px !important;
                    }
                    height: 400px !important;
                }
            }
        }

        //---------- FORM-COMMENT ----------//
        .form-comment {
            .wr-form-comment {
                .title {
                    h1 {
                        font-size: 32px !important;
                    }
                }
                .form {
                    table {
                        td {
                            input {
                                font-size: 14px !important;
                                padding: 10px !important;
                                height: 40px !important; 
                            }
                        }
                    }
                    textarea {
                        padding: 10px !important;
                        font-size: 14px !important;
                    }
                    button {
                        p {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }

        //---------- COMMENT ----------//
        .wr-comment {
             //----------HEADING-COMMENT----------//
             .heading-comment {
                 .navbar-header {
                     h1 {
                         font-size: 32px !important;
                     }
                     .badge {
                         font-size: 16px !important;
                     }
                 }
             }

             //----------COMMENTS-CONTAINER----------//
             .comments-container {
                 .comments-list .comment-box {
                     width: 633px !important;
                 }
                 .reply-list .comment-box {
                    width: 559px !important;
                 }
             }
        }
        padding-top: 175px !important;
    }

    //---------- ABOUT ----------//
    .about-page {

        //----------OUR-TEAM----------//
        .our-team {
            .content-slider {
                .team-list {
                    width: 300px !important;
                    padding: 80px !important;
                }
            }
        }
        padding-top: 175px !important;
    }

    //---------- GALLERY ----------//
    .gallery {
        .image {
            .wr-image {
                .title {
                    h1 {
                        font-size: 32px !important;
                    }
                }
                .list-image {
                    .photo {
                        .wr-photo {
                            img {
                                height: 160px !important;
                            }
                        }
                    }
                }
            }
        }
        padding-top: 175px !important;
    }

    //---------- CONTACT-US ----------//
    .contact-us {
        
        //---------- MAP ----------//
        .map {
            .wr-map {
                .map-detail {
                    iframe {
                        width: 720px !important;
                    }
                }
                .info {
                    p {
                        font-size: 14px !important;
                    }
                }
            }
        }

        .form-contact {
            .wr-form-contact {
                .title {
                    h1 {
                        font-size: 32px !important;
                    }
                }
                .form {
                    input {
                        height: 40px !important;
                    }
                    .submit-message {
                        p {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
        padding-top: 175px !important;
    }

    //---------- USER-PROFILE ----------//
    .user-profile {

        .user-info {
            .wr-user-info {
                .title {
                    h1 {
                        font-size: 32px !important;
                    }
                }
                .content {
                    .info-detail {
                        tr {
                            td{
                                width: 250px !important;
                                padding-left: 30px !important;
                            }
                        }
                    }
                    .editing {
                        a {
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
        padding-top: 175px !important;
    }

    //---------- ACCOUNT-SET ----------//
    .account-set {

        .form-account {
            .wr-form-account {
                .title {
                    h1 {
                        font-size: 32px !important;
                    }
                }
                .body-form {
                    .middle {
                        .change-pic {
                            button {
                                p {
                                    font-size: 14px !important;
                                }
                            }
                        }
                        .form {
                            form {
                                table {
                                    button#update, button#reset {
                                        p {
                                            font-size: 14px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        padding-top: 175px !important;
    }

    //---------- POST-CATEGORY ----------//
    .post-category {
        .heading-category {
            .wr-heading-category {
                h1 {
                    font-size: 32px !important;
                }
                h1::before {
                    width: 15% !important;
                }
                h1::after {
                    width: 15% !important;
                }
            }
        }
        .artikel {
            p {
                font-size: 14px !important;
            }
            .title {
                h1 {
                    font-size: 32px !important;
                }
            }
            .image {
                img {
                    height: 400px !important;
                }
                height: 400px !important;
            }
        }
        padding-top: 175px !important;
    }
}